<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.8/angular-materialize.min.js"></script>

  <!-- bootstrap css -->
  <!-- <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>  <!-- bootstrap js -->
  <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <!-- handlebars -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script> -->
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript">window.user = {{{ user }}};</script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen,projection"/>
  <!-- Angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.13.4/satellizer.min.js"></script>
  <!-- custom script (angular app) -->
  <script type="text/javascript" src="scripts/controllers/auth-login.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/auth-logout.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/main.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/posts-index.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/posts-new.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/posts-show.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/posts-edit.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/user-profile.controller.js"></script>
  <script type="text/javascript" src="scripts/controllers/user-signup.controller.js"></script>
  <script type="text/javascript" src="scripts/services/user.service.js"></script>
  <script type="text/javascript" src="scripts/routes.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>

  <title>High Charts With Materialize Test</title>

</head>
<body ng-controller="MainController as main">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Graph Sense</a>
      <ul class="right hide-on-med-and-down">
          <li ng-show="!main.currentUser.isLoggedIn()"><a href="/signup">Sign Up</a></li>
          <li ng-show="!main.currentUser.isLoggedIn()"><a href="/login">Log In</a></li>
          <li ng-show="main.currentUser.isLoggedIn()"><a href="/profile">{{main.currentUser.displayName}}'s Profile</a></li>
          <li ng-show="main.currentUser.isLoggedIn()"><a href="/logout">Log Out</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Mobile Nav-Change Later</a></li>
          <li ng-show="!main.currentUser.isLoggedIn()"><a href="/signup">Sign Up</a></li>
          <li ng-show="!main.currentUser.isLoggedIn()"><a href="/login">Log In</a></li>
          <li ng-show="main.currentUser.isLoggedIn()"><a href="/profile">{{main.currentUser.displayName}}'s Profile</a></li>
          <li ng-show="main.currentUser.isLoggedIn()"><a href="/logout">Log Out</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">more</i></a>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div ng-view></div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/scripts/js/materialize.js"></script>
  <script src="/scripts/js/init.js"></script>
</body>
</html>
